<ion-header>
  <ion-navbar color="primary">
    <ion-title>Photos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="position:relative">
    <img class="photo" [src]="userPhoto">
    <ion-spinner class="imageSpinner" name="bubbles" *ngIf="imageLoader"></ion-spinner>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="uploadImage()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
  <!-- <button ion-button type="submit" block (click)="save()">Save</button> -->
</ion-content>