<ion-content>
  <button ion-button (click)="uploadImage()">Upload</button>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum iste, qui ratione nihil repellat, aliquid est ipsa eaque
    rem illo, sapiente odit sint? Corrupti rerum ducimus obcaecati officiis suscipit. Cupiditate?</p>
  <form>
    <ion-grid>
      <ion-row *ngFor="let pic from profile?.photos">
        <ion-col col-2>
          <img src="pic">
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button type="submit" block (click)="save()">Save</button>
  </form>
</ion-content>