<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tabs?.getSelected()?.tabTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs color="primary">
    <ion-tab [root]="personalInfo" tabTitle="Personal Info" tabIcon="person"></ion-tab>
    <ion-tab [root]="occupation" tabTitle="Occupation" tabIcon="briefcase"></ion-tab>
    <ion-tab [root]="expections" tabTitle="Expections" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="photo" tabTitle="Photos" tabIcon="camera"></ion-tab>
  </ion-tabs>
</ion-content>