<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
      Search Filter
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
  <form [formGroup]="searchForm">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Education</ion-label>
        <ion-select formControlName="education">
          <ion-option [value]="i" *ngFor="let edu of CONSTANTS?.EDUCATION;let i=index">{{ edu }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Occupation</ion-label>
        <ion-select multiple="true" formControlName="occupation">
          <ion-option [value]="i" *ngFor="let job of CONSTANTS?.OCCUPATION;let i=index">{{ job }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Annual Income</ion-label>
        <ion-select formControlName="income">
          <ion-option [value]="i" *ngFor="let income of CONSTANTS?.INCOME_RANGE;let i=index;">{{ income }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Age</ion-label>
        <ion-range formControlName="age" dualKnobs="true" min="18" max="40" step="1" color="primary">
          <ion-label range-left>{{ ageRange.value?.lower }}</ion-label>
          <ion-label range-right>{{ ageRange.value?.upper }}</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button type="submit" block (click)="search()">Search</button>
</ion-content>