<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
      {{ profileData?.firstName }} {{ profileData?.lastName }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background:lightgray;">
  <ion-card>
    <div style="position:relative">
      <img class="photo" [src]="userPhoto">
      <ion-spinner class="imageSpinner" name="bubbles" *ngIf="imageLoader"></ion-spinner>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{profileData?.firstName}} {{profileData?.lastName}}
      </ion-card-title>
      <p>
        <ion-icon name="call"></ion-icon>
        <a href="tel:+91{{profileData?.mobile}}"> {{profileData?.mobile}}</a>
      </p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card> -->
  <!-- <ion-card-content> -->
  <ion-item-group>
    <ion-item-divider color="light">Occupation</ion-item-divider>
    <ion-item>
      <p>Education:</p>
      <h2>{{ CONSTANTS?.EDUCATION[profileData?.education] || '-' }}</h2>
    </ion-item>
    <ion-item>
      <p>Occupation:</p>
      <h2>{{ CONSTANTS?.OCCUPATION[profileData?.occupation] || '-' }}</h2>
    </ion-item>
    <ion-item>
      <p>Annual Income:</p>
      <h2>{{ CONSTANTS?.INCOME_RANGE[profileData?.income] || "-" }}</h2>
    </ion-item>
  </ion-item-group>
  <!-- </ion-card-content> -->
  <!-- </ion-card> -->
  <!-- <ion-card>
    <ion-card-content> -->
  <ion-item-group>
    <ion-item-divider color="light">Personal Info</ion-item-divider>
    <ion-item>
      <p>Father's Name:</p>
      <h2>{{ profileData?.fatherName || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Gender:</p>
      <h2>{{ CONSTANTS?.GENDER[profileData?.gender] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Birthdate:</p>
      <h2>{{ profileData?.dob | date : 'dd/MMMM/yyyy HH:mm' }}</h2>
    </ion-item>
    <ion-item>
      <p>Height:</p>
      <h2>{{ profileData?.height || "-" }} ft.</h2>
    </ion-item>
    <ion-item>
      <p>Complexion:</p>
      <h2>{{ CONSTANTS?.COMPLEXION[profileData?.complexion] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Mothertongue:</p>
      <h2>{{ CONSTANTS?.LANGUAGES[profileData?.motherTongue] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Known Languages:</p>
      <h2>
        <span *ngFor="let lang of profileData?.knownLanguages">{{ CONSTANTS.LANGUAGES[lang] }}, </span>
      </h2>
      <h2 *ngIf="!profileData?.knownLanguages?.length">-</h2>
    </ion-item>
    <ion-item>
      <p>Permnant Address</p>
      <h2>
        <span>{{ profileData?.permAddress?.address || "-" }}</span>
      </h2>
    </ion-item>
    <ion-item>
      <p>City</p>
      <h2>
        <span>{{ profileData?.permAddress?.city || "-" }}</span>
      </h2>
    </ion-item>
    <ion-item>
      <p>State</p>
      <h2>
        <span>{{ profileData?.permAddress?.state || "-" }}</span>
      </h2>
    </ion-item>
  </ion-item-group>
  <!-- </ion-card-content>
  </ion-card> -->
  <!-- <ion-card>
    <ion-card-content> -->
  <ion-item-group>
    <ion-item-divider color="light">Partner Expection</ion-item-divider>
    <ion-item>
      <p>Education:</p>
      <h2>{{ CONSTANTS?.EDUCATION[profileData?.partner?.education] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Income:</p>
      <h2>{{ CONSTANTS?.INCOME_RANGE[profileData?.partner?.income] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Occupation:</p>
      <h2>{{ CONSTANTS?.OCCUPATION[profileData?.partner?.occupation] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>Height:</p>
      <h2>{{ profileData?.partner?.height || "-" }} ft.</h2>
    </ion-item>
    <ion-item>
      <p>Age:</p>
      <h2>{{ profileData?.partner?.age?.lower }} - {{ profileData?.partner?.age?.upper }}</h2>
    </ion-item>
    <ion-item>
      <p>Complexion:</p>
      <h2>{{ CONSTANTS?.COMPLEXION[profileData?.partner?.complexion] || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>City:</p>
      <h2>{{ profileData?.partner?.city || "-" }}</h2>
    </ion-item>
    <ion-item>
      <p>State:</p>
      <h2>{{ profileData?.partner?.state || "-" }}</h2>
    </ion-item>
  </ion-item-group>
  <!-- </ion-card-content>
  </ion-card> -->

  <ion-fab bottom right *ngIf="!isModerator || true">
    <button ion-fab color="danger" (click)="markFavourite(profileData?._id,!favourites[profileData?._id])">
      <ion-icon [name]="favourites[profileData?._id]?'heart':'heart-outline'"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom left *ngIf="isModerator && profileData?.isDisabled">
    <button ion-fab color="primary" (click)="approveProfile(profileData?._id)">
      <ion-icon name="checkbox-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!-- <ion-footer no-border *ngIf="isModerator && false">
  <ion-toolbar color="primary">
    <ion-buttons>
      <div *ngIf="favourites?favourites[profileData?._id]:false; then shortlist else shortlisted"></div>
      <ng-template #shortlisted>
        <button ion-button icon-left clear small (click)="markFavourite(profileData?._id,true)">
          <ion-icon name="heart-outline"></ion-icon>
          <p> Shortlist </p>
        </button>
      </ng-template>

      <ng-template #shortlist>
        <button ion-button icon-left clear small (click)="markFavourite(profileData?._id,false)">
          <ion-icon name="heart"></ion-icon>
          <p> Shortlisted </p>
        </button>
      </ng-template>
    </ion-buttons>
    <ion-buttons right *ngIf="isModerator && profileData?.isDisabled">
      <button ion-button icon-left clear small (click)="approveProfile(profileData?._id)">
        <ion-icon name="checkbox-outline"></ion-icon>
        <p> Approve </p>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->