<ion-content>
  <form [formGroup]="occupationForm">
    <ion-item>
      <ion-label color="primary" floating>Education</ion-label>
      <ion-select formControlName="education" interface="action-sheet">
        <ion-option [value]="i" *ngFor="let edu of CONSTANTS.EDUCATION; let i=index;">{{ edu }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Occupation</ion-label>
      <ion-select formControlName="occupation" interface="action-sheet">
        <ion-option [value]="i" *ngFor="let job of CONSTANTS.OCCUPATION; let i=index;">{{ job }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Annual Income</ion-label>
      <ion-select formControlName="income" interface="action-sheet">
        <ion-option [value]="i" *ngFor="let income of CONSTANTS.INCOME_RANGE; let i=index">{{ income }}</ion-option>
      </ion-select>
    </ion-item>
    <div formGroupName="resiAddress">
      <ion-item>
        <ion-label color="primary" floating>Present Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>City</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>State</ion-label>
        <ion-input formControlName="state" type="text"></ion-input>
      </ion-item>
    </div>
    <button ion-button type="submit" block (click)="saveAndNext()">Next</button>
  </form>
</ion-content>