<ion-content style="background:lightgray">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <user-profile [profile]="profile" *ngFor="let profile of featured"></user-profile>
  <ion-spinner *ngIf="loading" color="primary" name="crescent"></ion-spinner>
  <ion-fab bottom right>
    <button ion-fab color="danger" *ngIf="!loading" (click)="openSearchFilter()">
      <ion-icon name="search"></ion-icon>
    </button>
    <button ion-fab color="danger" *ngIf="loading" (click)="stopSearch()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content loadingSpinner="dots" threshold="50%"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>